header.page-header
	.page-header__inner.container
		.row
			.col-xs-10.col-sm-12.col-md-4
					a.logo__link
						img.logo__img(src="blocks/header/logo.png")
						span.logo__large-text Мой доктор
						span.logo__small-text Чтоб всем было больно

			.visible-xs.col-xs-2
				a.sandwich

			.col-xs-12.col-sm-12.col-md-8
				nav.main-nav
					ul.main-nav__list
						li.main-nav__item
							a.main-nav__link Компания
						li.main-nav__item
							a.main-nav__link Услуги
						li.main-nav__item
							a.main-nav__link Цены
						li.main-nav__item.visible-xs
							a.main-nav__link Записаться
						li.main-nav__item.hidden-xs
							a.main-nav__link Позвоните мне

