.promo
	img.promo__image(src="blocks/promo/promo__bg.jpg")
	.container
		.row
			.col-xs-12.col-sm-12.col-md-offset-7.col-md-5
			.promo__headline
				span.promo__label.hidden-xs.hidden-sm Онлайн-запись
				p.promo__text Lorem ipsum dolor sit amet, consectetur adipisicing elit.
