.container.workflow
	.row
		h2.workflow__header Lorem ipsum.

		.col-xs-12.col-sm-12.col-md-4
			img.workflow__bg(src="blocks/workflow/howitworks__doctor.png")

		.col-xs-12.col-sm-6.col-md-4
			p.feature-left lorem lorem
			p.feature-left lorem lorem
			p.feature-left lorem lorem
			p.feature-left lorem lorem

		.col-xs-12.col-sm-6.col-md-4
			p.feature-right lorem lorem
			p.feature-right lorem lorem
			p.feature-right lorem lorem
			p.feature-right lorem lorem

