.problem
	.problem__inner.container
		h2.visible-sm Выберите боль
		h2.hidden-xs.hidden-sm Не выберите боль

		.row
			.col-xs-6.col-sm-4.col-md-2
				img.problem__img(src="blocks/problem/problem__brain.png")
				span.problem__text Жизнь боль

			.col-xs-6.col-sm-4.col-md-2
				img.problem__img(src="blocks/problem/problem__cardio.png")
				span.problem__text Жизнь боль

			.col-xs-6.col-sm-4.col-md-2
				img.problem__img(src="blocks/problem/problem__child.png")
				span.problem__text Жизнь боль

			.col-xs-6.col-sm-4.col-md-2
				img.problem__img(src="blocks/problem/problem__dental.png")
				span.problem__text Жизнь боль

			.hidden-xs.col-sm-4.col-md-2
				img.problem__img(src="blocks/problem/problem__pulm.png")
				span.problem__text Жизнь боль

			.hidden-xs.col-sm-4.col-md-2
				img.problem__img(src="blocks/problem/problem__trauma.png")
				span.problem__text Жизнь боль

